html {
    color: white;
    font-family: "SUSE" !important;
}

body {
    background-color: #1e1f2a;
}

label {
    font-size: 1vw;
}

button, #pathInput::file-selector-button {
    font-size: 1vw;
    font-family: "SUSE";
    border: 0.2vw solid #8089ff;
    border-radius: 0.5vw;
    background-color: #8089ff;
    color:#181982;
    transition-duration: 150ms;
    transition-property: background-color, border;
}
button:hover, #pathInput::file-selector-button:hover {
    cursor:pointer;
    background-color: #6f76dc;
    border: 0.2vw solid #6f76dc;
}


#infoText {
    font-size: 1vw !important;
    color: #3c3d4d;
    opacity: 0;
    transition-duration: 150ms;
    transition-property: opacity;
}

#downloadBtn, #downloadAllBtn {
    /* transition-duration: 250ms; */
    transition-property: opacity, background-color, border;
    opacity: 0;
    visibility: hidden;
}

#downloadAllBtn {
    margin-left: 1vw;
}

#horizontal,
#vertical {
    width: 1vw;
    height: auto;
}


#centerDiv {
    background-color: #12121d;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80vw;
    height: 40vw;
    border-radius: 2vw;
    box-shadow: #0e0e17 0vw 0vw 3vw;
}

#centerDiv>* {
    margin-bottom: 0.7vw;
}

#graph {
    background-color: #08080d;
    border-radius: 1vw;
    width: 41.25vw;
    height: 20vw;
}

#pathInput {
    color: white;
    font-size: 1vw;
    /* margin-right: -5vw; */
    margin-right: 0vw;
    width: 14vw;
    font-family: "SUSE"
}
